/* src/assets/main.css */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar (Keep this here) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d2bab0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a67b5b;
}

body {
  background-color: #fdf8f6;
  -webkit-font-smoothing: antialiased;
}